<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Diego Martinez</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <section>
        <div class="card">
            <div class="face front">
                <h3 class="frontend">Front end</h3>
                <h3 class="developer">Developer</h3>
                <img src="img/perfil.jpeg" alt="profile" class="profile">
                <img src="img/NezKatRide.png" alt="icon" class="icon">
                <h5 class="hello">0110100001100101011011000110110001101111</h5>
                <h2 class="id-name">Diego Martinez</h2>

            </div>
            <div class="face back">
                <div class="backbar"></div>
                <div class="ccvtext">
                    <h5>Be happy and smile</h5>
                    <div class="whiteBar"></div>
                    <div class="ccv">:)</div>
                </div>
                <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat nemo dolores dicta
                    magnam quam ullam sit, odio alias consequatur quidem. Pariatur laborum consequuntur maxime earum
                    quam reprehenderit, laboriosam adipisci vel!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat nemo dolores dicta
                    magnam quam ullam sit, odio alias consequatur quidem. Pariatur laborum consequuntur maxime earum
                    quam reprehenderit, laboriosam adipisci vel!

                </p>
            </div>
        </div>
    </section>
</body>

</html>